@model IEnumerable<Library_Management_System.Models.Category>

@{
    ViewData["Title"] = "Books";
}

        <div class="d-flex justify-content-between align-items-center mb-4">
            <a href="@Url.Action("Create", "Category")" class="btn shadow-sm btn-addButton">
                <i class="bi bi-plus-lg"></i> Add Category
            </a>
        </div>

            <div class="card-body">
                <div class="overflow-x-auto">
                    <table class="min-w-full bg-white rounded-xl shadow-lg overflow-hidden">
                        <thead  class="bg-[#4f46e5]">
                        <tr>
                
                            <th class="py-3 px-5 text-left text-sm font-semibold uppercase tracking-wider text-white">#</th>
                            <th class="py-3 px-5 text-left text-sm font-semibold uppercase tracking-wider text-white">Title</th>
                            <th class="py-3 px-5 text-left text-sm font-semibold uppercase tracking-wider text-white">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    @if (Model.Any())
                    {
                        var index = 1;
                        foreach (var category in Model)
                        {
                            <tr id="tableRow" class="transition duration-200">
                                <td class="py-3 px-5 text-sm text-gray-700">@index</td>
                                <td class="py-3 px-5 text-sm text-gray-700">@category.CategoryName</td>
                                    
                                <td class="py-3 px-5 text-sm text-gray-700">
                                    <div class="flex items-center gap-2">
                                        <a href="@Url.Action("Edit", "Category", new { id = category.CategoryId })" 
                                           class="px-3 py-1 bg-yellow-400 text-white rounded-lg shadow hover:bg-yellow-500 transition">
                                            <i class="bi bi-pencil-square"></i> Edit
                                        </a>
                                        <button type="button" 
                                                class="px-3 py-1 bg-red-500 text-white rounded-lg shadow hover:bg-red-600 transition"
                                                onclick="deleteCategory(@category.CategoryId)">
                                            <i class="bi bi-trash-fill"></i> Delete
                                        </button>
                                    </div>
                                </td>

                            </tr>
                            index++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="7" class="text-center text-muted">No Categories available.</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
  
@section Scripts{
    <script>
        function deleteCategory(id) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result)=>{
                if(result.isConfirmed){
                    (async () => {
                        let response= await secureFetch("api/category-api/Delete/"+id,{
                            method: 'DELETE'
                        });

                        if(response.ok){
                            Swal.fire(
                                "Deleted!",
                                response.message,
                            ).then(()=>{
                                window.location.reload();
                            });

                        }else{
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: response.message,
                            });
                        }
                    })();
                            
                        }
                       
                    });
                }
    </script>
}
