
@model IEnumerable<Library_Management_System.Models.User>;
@{
    ViewData["Title"] = "Users";
}

<div class="container-fluid py-4">
    <div class="card shadow-sm">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover align-middle">
                    <thead class="table-dark">
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th class="text-center">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    @if (Model != null)
                    {
                        int index = 1;
                        foreach (var user in Model)
                        {
                            <tr>
                                <td>@index</td>
                                <td>@user.Full_Name</td>
                                    
                                <td class="text-center">
                                    @if (@user.Role == "Admin")
                                    {
                                        <button onclick="downgradeUser(@user.Id)"> Downgrade to Student</button>
                                    }
                                    else
                                    {
                                        <button onclick="upgradeUser(@user.Id)"> Upgrade to Admin</button>
                                    }
                                    <button type="button" class="btn btn-sm btn-danger" onclick="blackListUser(@user.Id)">
                                        <i class="bi bi-trash-fill"></i> Blacklist
                                    </button>
                                </td>
                            </tr>
                            index++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="7" class="text-center text-muted">No Categories available.</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function blackListUser(id) {
         Swal.fire({
             title: 'Are you sure?',
             text: "The User will not be able to login to the system.",
             icon: 'warning',
             ShowCancelButton: true,
             ConfirmButtonColor: '#3085d6',
             CancelButtonColor: '#d33',
             ConfirmButtonText: 'Yes, blacklist!'
         }).then((result) => {
             if(result.isConfirmed){
                 $.ajax({
                     url:" /api/users/blacklist/"+id,
                     method:"PATCH",
                     success:function(response){
                         if(response.status === "success"){
                             Swal.fire({
                                 title: 'Success!',
                                 text: "The User has been blacklisted.",      
                             }).then((result) => {
                                 window.location.reload();
                             });   
                         }else{
                             Swal.fire({
                                 title: 'Error!',
                                 text: response.message||"The User has not been blacklisted.",
                             }).then((result) => {
                                 window.location.reload();
                             });
                         }
                     },
                     error:function(error){
                         Swal.fire(
                             'Error!',
                             error.message||"The User has not been blacklisted.",
                             'error'
                         );
                     } 
                 });
             }
         });
        }
        function upgradeUser(id) {
            Swal.fire({
                title: 'Are you sure?',
                text: "The user will be upgraded to Admin.",
                icon: 'info',
                ShowCancelButton: true,
                ConfirmButtonColor: '#3085d6',
                CancelButtonColor: '#d33',
                ConfirmButtonText: 'Yes, upgrade!'
            }).then((result) => {
                if(result.isConfirmed){
                    $.ajax({
                        url:" /api/users/upgrade/"+id,
                        method:"PATCH",
                        success:function(response){
                            if(response.status === "success"){
                                Swal.fire({
                                    title: 'Success!',
                                    text: "The User has been upgraded to Admin.",
                                }).then((result) => {
                                    window.location.reload();
                                });
                            }else{
                                Swal.fire({
                                    title: 'Error!',
                                    text: response.message||"The User cannot be upgraded to Admin.",
                                }).then((result) => {
                                    window.location.reload();
                                });
                            }
                        },
                        error:function(error){
                            Swal.fire(
                                'Error!',
                                error.message||"User cannot be upgraded to Admin.",
                                'error'
                            );
                        }
                    });
                }
            });
            
        }
        function downgradeUser(id) {
            Swal.fire({
                title: 'Are you sure?',
                text: "The user will be downgrade to student.",
                icon: 'info',
                ShowCancelButton: true,
                ConfirmButtonColor: '#3085d6',
                CancelButtonColor: '#d33',
                ConfirmButtonText: 'Yes, downgrade!'
            }).then((result) => {
                if(result.isConfirmed){
                    $.ajax({
                        url:" /api/users/downgrade/"+id,
                        method:"PATCH",
                        success:function(response){
                            if(response.status === "success"){
                                Swal.fire({
                                    title: 'Success!',
                                    text: "The User has been downgraded to Student.",
                                }).then((result) => {
                                    window.location.reload();
                                });
                            }else{
                                Swal.fire({
                                    title: 'Error!',
                                    text: response.message||"The User cannot be downgraded to Student.",
                                }).then((result) => {
                                    window.location.reload();
                                });
                            }
                        },
                        error:function(error){
                            Swal.fire(
                                'Error!',
                                error.message||"User cannot be downgraded to Student.",
                                'error'
                            );
                        }
                    });
                }
            });

        }
        
    </script>
}
